.accordion {
  /* Border */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: transparent;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accordion__header {
  /* Center the content horizontally */
  align-items: center;
  display: flex;

  cursor: pointer;
  padding: 16px;
}

.accordion__toggle {
  margin-right: 12px;
}

.accordion__title {
  /* Take remaining width */
  flex: 1;
}

.accordion__content {
  /* For not selected item */
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
}

.--selected {
  /* For selected item */
  display: block;
}
.content-prod {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: row-reverse;
  margin-top: 0.2rem;
  justify-content: center;
}
.content-img {
  width: 30%;
  /* display: flex; */
}
.content-img img {
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: contain;
}
.info-Content {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
.info-Content p {
  color: rgb(138, 137, 137);
  text-justify: distribute;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.info-Content b {
  font-weight: 570;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.info-Content h4 {
  font-size: 1.2rem;
  font-weight: 570;
  margin-top: 0.5rem;
}
.title-prod {
  font-size: 1.5rem;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
.container-prod-modal {
  background: rgb(255, 255, 255);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  text-align: center;
}

.close {
  position: relative;
  top: 0;
  right: -9rem;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

/* .close::before,::after{
  content: ' ';
  position: absolute;
  width: 2.5px;
  height: 24px;
  background-color: #000;
}
.close::before{
  transform: rotate(45deg);
}
.close::after{
  transform: rotate(-45deg);
} */
